<script lang="ts">
    import { parse } from "yaml"

    import { writable } from 'svelte/store';
    import { goto } from "$app/navigation";

    import {factionScores, questionLog} from "$lib/stores.svelte"
    import type {Faction, Question, DegreeQuestion, MultiQuestion} from "$lib/types"

    const modifyPoints = (factionTarget: Faction | "none", delta: number, question: Question) => {
        if(factionTarget === "none") {
            return
        }
        
        factionScores.update(scores => ({
            ...scores,
            [factionTarget]: scores[factionTarget] + delta
        }));

        logQuestion(question, delta, factionTarget)

        if($questionIndex + 1 >= $numberOfQuestions) {
            endQuiz()
            return
        }  

        

        questionIndex.update(index => index + 1)
    }

    const logQuestion = (question: Question, delta: number, factionTarget: Faction | "none") => {
        const deltaText = ((delta > 0) ? "went up by " : "went down by ") + Math.abs(delta)
        const factionOfChoice = (factionTarget != "none") ? factionTarget : undefined
        const questionText = question.question.slice(0,50) + "..."
        
        let text = `\n${$questionIndex + 1}. `
        if(question.type === "degree") {
            const attitude = (delta > 0) ? "positvely" : "negatively"

            text += `You answered ${attitude} for the question: "${questionText}", so you're ${factionOfChoice} points ${deltaText}`
        }else if (question.type === "multi") {
            const multiQuestion = question as MultiQuestion
            
            text += `You picked "${multiQuestion[factionOfChoice!]}" for the question "${questionText}", so you're ${factionOfChoice} points ${deltaText}`
        }

        questionLog.update(log => log += text)
    }

    export const questionIndex = writable<number>(0)
    export const numberOfQuestions = writable<number>(-1)

    // get questions from the /static/questions.yaml
    const getQuestions = async (): Promise<Question[]> => {
        const response = await fetch('/questions.yaml');
        const text = await response.text();
        const yamlObject = parse(text)

        // sort them into the two question types
        const questions = ([] as Question[])
            .concat((yamlObject["degree"] as DegreeQuestion[]).map(q => ({...q, type: "degree"})))
            .concat((yamlObject["multi"] as MultiQuestion[]).map(q => ({...q, type: "multi"})))

        numberOfQuestions.set(questions.length)

        return questions
    }

    const endQuiz = () => {
        goto("/end")
    }
</script>


<main>
    
    {#await getQuestions()}
        <h1>loading...</h1>
    {:then qs} 
        <h1>
            {qs[$questionIndex].question}
        </h1>

        {#if qs[$questionIndex].type === "degree"}
            {@const q = qs[$questionIndex] as DegreeQuestion}
            <button on:click={() => modifyPoints(q.rewards, 1, q)}>Highly likely</button>
            <button on:click={() => modifyPoints(q.rewards, 1, q)}>Somewhat likely</button>
            <button on:click={() => modifyPoints(q.punishes, -1, q)}>Not likely</button>
            <button on:click={() => modifyPoints(q.punishes, -1, q)}>Not at all</button>

        {:else if qs[$questionIndex].type === "multi"}
            {@const q = qs[$questionIndex] as MultiQuestion}
            <button on:click={() => modifyPoints("carer", 1, q)}> {q.carer}</button>
            <button on:click={() => modifyPoints("disruptor", 1, q)}>{q.disruptor}</button>
            <button on:click={() => modifyPoints("individual", 1, q)}>{q.individual}</button>
        {:else}
            HAHA!
        {/if}
    {/await}

</main>
