<script lang="ts">
    import {questionLog} from "$lib/stores.svelte"
</script>

<main>
    <p>{@html $questionLog.replaceAll("\n", "<br><br>")}</p>
</main>

<style>
    p {
        max-width: 65ch;
        font-size: larger;
    }
</style>