<script lang="ts">
    import { goto } from "$app/navigation";
    import { factionScores, questionLog } from "$lib/stores.svelte"
    import { parse } from "yaml"

    type Faction = {
        color: string,
        number: string,
        flavorText?: string,
        extraQuestion: boolean
    }

    const getFactionData = async (): Promise<any> => {
        const response = await fetch('/factions.yaml');
        const text = await response.text();
        const yamlObject = parse(text)

        return yamlObject["factions"]
    }

    const getTeam = async (): Promise<Faction> => {
        //faction data from the /static/factions.yaml
        const factions = await getFactionData()

        // Get the faction that people clicked on most frequently
        let maxProperty = "unknown";
        let maxValue = -Infinity; 

        for (const [key, value] of Object.entries($factionScores)) {
            if (value > maxValue) {
                maxValue = value;
                maxProperty = key;
            }
        }

        questionLog.update(log => log += `\n You're highest faction point was ${maxProperty}, with ${maxValue} points`)

        // Using this code, 1 in 5 people's quiz will be disregarded 
        const colorRandomizer = Math.random() > 0.75
        if(colorRandomizer) {
            questionLog.update(log => log += `\n You're quiz was disregarded and you were randomly allocated to be on the "unknown" team`)
            
            return factions["unknown"]
        }

        // otherwise just use their most used property
        return factions[maxProperty]

    }
</script>

<main>
    {#await getTeam()}
        
    {:then val} 
        {@const style = val as Faction}

        <h1>You are on team:</h1>

        <div class="color"
            style={`background-color: ${val.color}`}>
            <h2 class="number-title">{val.number}</h2>
        </div>

        {#if style.flavorText}
            <div class="flavor-container">
                <h3><i>{style.flavorText}</i></h3>    
            </div>
        {/if}
        {#if style.extraQuestion}
            <button style="border: 3px purple solid">Ask away</button>
        {/if}
        
    {/await}
    
    <button on:click={() => goto("/admin")}>ADMIN ONLY: View journey</button>

</main>

<style>
    .color {
        min-height: 150px;
        aspect-ratio: 1 / 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flavor-container {
        display: flex;
        justify-content: center;
    }

    h3 {
        text-align: center;
        max-width: 400px;
    }

    .number-title {
        color: white;
        font-size: 16rem;
    }
</style>