.color.svelte-1ib27pj{min-height:150px;aspect-ratio:1 / 1;display:flex;justify-content:center;align-items:center}.flavor-container.svelte-1ib27pj{display:flex;justify-content:center}h3.svelte-1ib27pj{text-align:center;max-width:400px}.number-title.svelte-1ib27pj{color:#fff;font-size:16rem}
